/* -------------------------------------------------------- */
/* ----------------- BODY and PARAGRAPHS ------------------ */
/* -------------------------------------------------------- */
body {
  margin: 0;
  overflow:hidden;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13pt;
  /* overflow for not rolling the screen - otherwise it will scroll */
}

p {
margin: 0px;
margin-bottom: 10px;
}


/* -------------------------------------------------------- */
/* ------------------- LOCATION POPUP --------------------- */
/* -------------------------------------------------------- */
.popup {
padding: 10px;
color: #666;
background-color: #bbbbbb;
/* box-shadow: 0 0 50px rgba(187, 187, 187, 1); */
text-align: center;
/* ↓ center the popup horizontally and vertically ↓ */
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.popup-buttons-container {
display: flex;
flex-direction: column;
}

.popup-button {
background-color: white;
color: #666666;
border: 3px solid #bbbbbb;
border-radius: 10px;
margin: 3px;                
padding: 10px;
}

.popup-button:hover {
border: 3px solid #666666;
font-weight: bold;
}

.popup-button:active {
background-color: #666666;
color: white;
font-weight: bold;
}


/* -------------------------------------------------------- */
/* -------------- VISUALISATION BUTTONS ------------------- */
/* -------------------------------------------------------- */
.visualisation-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 90%;
  right: 0;
  position: fixed;
  top: 0;
  /* position + fixed -> cont. will be fixed to the top of the viewport
   and will not be affected by the overflow property on the body */
}

.visualisation-button {
  border-style: none;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

#buttonInfo {
  background-image: url("infoButton.png");
  background-size: cover;
}

#buttonTree {
  background-image: url("treeButton.png");
  background-size: cover;
}

#buttonBuil {
  background-image: url("buildingButton.png");
  background-size: cover;
}


/* -------------------------------------------------------- */
/* ------------------ LOADING POPUP ----------------------- */
/* -------------------------------------------------------- */
#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: grid;
  align-items: center;
}

#loader-content {
  font-size: 28;
  color: white;
  text-align: center;
}
